<!DOCTYPE html>

<html>
    <head>
        <title>Cart</title>
        <link rel="stylesheet" href="/stylesheets/cart.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
	<ul id="nav">
	  <li><a href="main.html">Home</a></li>
	  <li><a href="account.html">My Account</a></li>
	  <li class="category"><a href="#">Desktop Computers</a></li>
	  <li class="category"><a href="#">Laptops</a></li>
	  <li class="category"><a href="#">Printers</a></li>
	  <li class="category"><a href="#">Accessories</a></li>
	</ul>

      
        <ul id="cart">
            {{#cartItems}}
            <div>
                <div class="item-name">{{itemName}}</div>
                <div class="item-price">Price: ${{itemPrice}} <span>| Qty: {{Quantity}}</span> <button name="{{PID}}" class="remove-item">remove</button></div>
            </div>
            {{/cartItems}}
	    
	    {{#if cartItems}}
	    <a href="/confirmcreditcard"><button id="purchase">purchase</button></a>
	    {{else}}
	    <li>No items in cart</li>
            {{/if}}
	</ul>
	<script src="/javascripts/cart.js"></script>
    </body>
</html>
